# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# MAUI platform builds
**/Platforms/*/bin/
**/Platforms/*/obj/

# MAUI temporary resources
**/Resources/Raw/*.tmp

# Test results
[Tt]est[Rr]esult*/
*.coverage
*.coveragexml
coverage*.json
coverage*.xml
coverage*.info
coverage-report/

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# App settings
appsettings.json
appsettings.Development.json
appsettings.*.json

# Videos
*.mp4

# Node
node_modules/

# Others
*.log
*.tmp
*.cache
