@inherits LayoutComponentBase

<PageTitle>JO</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
       

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<style>
    .buy-ticket-button {
        background-image: linear-gradient(180deg, #3a3a3a 0%, #0f0f0f 70%);
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 18px;
        cursor: pointer;
        border-radius: 5px;
    }

    .buy-ticket-button:hover {
        opacity: 0.8;
    }
</style>
